@import 'variable';

.text {
    font-size: 14px;
}

header {
    color: $red-color;
    padding: 8px;
    font-size: 20px;
}

footer {
    color: green;
    font-size: 20px;
}

.checkbox-select-all-option {
    width: 200px;
    margin: 0 16px;
}